*{
  box-sizing: border-box;

}

body{
  margin:0;
  background:rgb(222, 199,161);
font-size:italic;
}

.special {
  color:rgb(191, 109, 74);
  font-style:italic;
  cursor: cell;
}

.secret{
  position: absolute;
  width: 400px;
  top:100px;
  left:300px;
  display: none;
}
.special:hover .secret{
  display: block;
}

.circle{
  background-color:rgb(203, 233, 213);
  width:120px;
  height:120px;
  border-radius: 50%;
  position: absolute;
  bottom: 200px;
  right: 200px;
  transition:.5s ease,border-radius 1s 2s ease,background .5s;
}

.circle:hover {
  border-radius:0;
  transform: scale(2.5)rotate(360deg);
  background: rgba(141, 235, 213);
}
